
/* 
    This stylesheet contain css for design radio buttons.
    Created on : Sep 17, 2015, 1:17:07 PM
    Author     : Md. Sourav
*/

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: #8D8D8D;
    font-family:Arial, sans-serif;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:.7em;
    height:.7em;
    margin:2px 10px 3px 0;
    vertical-align:middle;
    cursor:pointer;
    border: 3px solid #CCCCCC;
    border-radius:  50%;
    -moz-border-radius:  50%;
    -webkit-border-radius: 50%;
}

input[type="radio"] + label span {
     background-color:#e7e6e6;
}

input[type="radio"]:checked + label span{
/*    -webkit-box-shadow: 0px 0px 19px 6px rgba(247,247,247,1);
-moz-box-shadow: 0px 0px 19px 6px rgba(247,247,247,1);
box-shadow: 0px 0px 19px 6px rgba(247,247,247,1);*/
     background-color:#F16524;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}